body {
  background-image: url('../img/default-wallpaper2.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.get_by_location {
  font-size: 26px;
  text-align: center;
  padding: 10px 0 0 0;
  color: #fff;
}

.header {
  font-size: 38px;
}

.sr-ss {
  font-size: 24px;
  margin: 0;
}

.sr-ss .sr, .ss {
  font-size: 18px;
  color: #777;
}

.start, .end {
  font-size: 11px;
}

.card-panel {
  color: #333;
}

.sunposition {
  position: relative;
  height: 50px;
}

.current {
  position: absolute;
  top: 2px;
  font-size: 26px;
  line-height: 0;
}

/*Loading rotating image*/
.rotate-img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
